
/* div.demo-content{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);color:#8d9090;} */
#notification-header {
	background: rgb(41, 235, 202);
    padding: 0px;
    text-align: right;
    /* margin-top: 4px; */
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
button#notification-icon {
	background: transparent;
	border: 0;
	position:relative;
	cursor:pointer;
}
#notification-count{
	position: absolute;
    left: -2px;
    top: -8px;
    font-size: 14px;
    color: #fa8181;
    font-weight: bold;
}
#form-header {
	font-size:1.5em;
}
#frmNotification {
	padding:0px 0px;
}
.form-row{
	padding-bottom:0px;
}
#btn-send {
	background: #258bdc;
	color: rgb(170, 252, 159);
	padding: 10px 40px;
	border: 0px;
}
div.demo-content input[type='text'],textarea{
	width: 100%;
	padding: 5px 0px;
}
#notification-latest {
	color: #555;
 
  right: 0px;
  background: #a7ee9e;
  box-shadow: 0px 1px 1px rgba(36, 233, 36, 0.932);
  /* max-width: 250px; */
  text-align: left;
  font-size: 12px;
}
.notification-item {
	padding:0px;
	border-bottom: #23e723 2px solid;
	cursor:pointer;
}
.notification-subject {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:italic;
}

.info_content{
  max-width: 410px;
}