
@font-face {
    font-family:"Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family:"Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family:"Montserrat";
    font-weight:bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(35, 36, 35);
    --hovercolor: rgb(23,23,23);
    --width-collapsed: 50px;
    }
    body{
    background-color: #e0f3cc;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
    }
    
    .body-expanded{
        margin-left: var(--width);
    }

    #main-container{
        color: white;
    }

    #sidemenu{
        background-color: var(--bgcolor);
        color: white;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
    }

    #sidemenu a{
        color: white;
        text-decoration: none;
    }

    /* header*/
    #sidemenu #header{
        box-sizing: border-box;
        border-bottom: solid 1px var(--hovercolor);
    }

    #sidemenu #header #title{
        box-sizing: border-box;
        border-bottom: hidden;
    }

    #sidemenu #header #title, #sidemenu #header #menu-btn{
        vertical-align: middle;
    }

    #sidemenu #header #menu-btn{
        display: inline-block;
    }

    #sidemenu #header #menu-btn{
        cursor: pointer;
        padding: 10px;
        width: var(--width-collapsed);
        box-sizing: border-box;
    }

    #sidemenu #header #menu-btn:hover{
       background-color: var(--hovercolor);
    }

    #sidemenu #header #menu-btn .btn-hamburger{
        background-color: #fff;
        width: 100%;
        height: 2px;
        margin: 5px 0;
     }

     /*profile*/
     #sidemenu #profile{
         border-bottom: solid 1px var(--hovercolor);
         padding: var(--padding);
         text-align: center;
     }

     #sidemenu #profile #photo{
        box-sizing: border-box;
        padding: var(--padding);
        margin: 0 auto;
    }

    
    #sidemenu #profile #photo img{
        border-radius: 50%;
        width: 60%;
    }

    #sidemenu #profile #photo, #sidemenu #profile #name{
        font-size: 24px;
        padding: var(--padding) 0;
        overflow: hidden;
    }

    /*item*/
    #sidemenu #menu-items{
        overflow: hidden;
    }

    #sidemenu #menu-items .item{
        width: var(--width);
    }
    #sidemenu #menu-items .item .icon{
        display: inline-block;
    }

    #sidemenu #menu-items .item .icon, 
    #sidemenu #menu-items .item .title{
        font-size: 14px;
        vertical-align: middle;
        overflow: hidden;
        display: inline-block;
    }
    #sidemenu #menu-items .item a{
        display: block;
    }
    #sidemenu #menu-items .item a:hover{
        background-color: var(--hovercolor);
    }
    #sidemenu #menu-items .item .icon{
        box-sizing: border-box;
        padding: var(--padding);
        width: var(--width-collapsed);
    }

    #sidemenu #menu-items .item .icon img{
        width: 100%;
    }
    #sidemenu #menu-items .item .title{
        padding: var(--padding) 0;
    }

    #sidemenu #menu-items .item .separator{
        height: 1px;
        border-bottom: solid 1px var(--hovercolor);
        margin: 15px 0;
    }

    .menu-expanded{
        width: var(--width);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .menu-expanded #header #title{
        display: inline-block;
        width: calc(100% - 50px);
        margin-right: -5px;
        padding: var(--padding);
    }

    .menu-expanded #header #title span{
        width: calc(var(--width) - var(--width-collapsed) - 5px);
        overflow: hidden;
        
    }
    .menu-expanded #profile #photo{
        width: 200px;
    }
    .menu-expanded #profile #name{
        width: 100%;
    }

    .menu-collapsed{
        width: var(--width-collapsed);
    }
    .menu-collapsed #header #title{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .menu-collapsed #profile #name{
        display: none;
    }
    .menu-collapsed .item{
        width: 100px;
    }

    /*-----estilos de el footer------*/
.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


/*para seleccionar todos los iconos*/
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}
/*-----estilos responsive------*/
@media screen and (min-width:480px) {
    .logo {
        color: white;
    }
    .main-header__contactInfo {
        text-align: right;
    }
    .main-header__contactInfo__phone {
     background: none;   
    }
    .main-header__contacInfo__adress {
        color: white;
    }
    .main-nav {
        background: rgba(0,0,0,0.85)
    }
    .banner {
        margin-top: -190px;
        z-index: -1000;
    }
    .banner__content {
        font-size: 2em;
    }
    .main {
        padding-bottom: 15px;
    }
    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .today-special .column {
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special__img {
        height: 200px;
        object-fit: cover;
    }
    .main-footer .container--flex{
        align-items: flex-start;
    }
    .column--50 {
        width: 49%;
    }
    .column--50-25 {
        width: 49%;
    }
    .column--33 {
        width: 32%;
    }
}

@media screen and (min-width:768px) {
    .main__title {
        font-size: 2.2em;
    }
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2){
    font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
    line-height: 40px;
    }
    .column--50-25 {
        width: 24.5%;
    }
    .column__title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
}
@media screen and (min-width:1024px) {
    .container {
        width: 1000px;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contacInfo__adress
    {
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__img {
        height: 700px;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link {
        padding: 20px;  
    }
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title {
        font-size: 2.3em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 50px;
    }
    .today-special__title {
        font-size: 1.4em;
    }
    .today-special__price {
        font-size: 1.8em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (min-width:1600px) {
    .container {
        width: 1400px;
    }
    .banner__img {
        height: 900px;
    }
    .main__about__description .column:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today-special__img {
        height: 300px;
    }
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}

/*-----estilos header------*/
.main-header {
    width: 100%;
}
.logo {
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100
}
.main-header__contactInfo__phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__address {
    padding: 10px;
    margin: 0;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top:2px;
    right: 5px;
}
/*-----estilos de principales de la pagina las columnas------*/
.group--color .container {
    background: #DE423A;
    color: white;
    padding: 10px;
    text-align: center;
}
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.main__txt {
    padding: 20px;
}
.column__title {
    font-size: .73em;
}
.main__about__description .column:nth-child(2) {
    padding: 10px;
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423A;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group__title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img {
    margin: auto;
    max-width: 350px;
}
.today-special__title {
    font-size: 1.3em;
    padding: 10px;
    padding-bottom: 20px;
}
.today-special__price {
    font-size: .5em;
    color: #DE423A;
    font-weight: bold;
}
/*-----estilos de el footer------*/
.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
/*para seleccionar todos los iconos*/
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}
/*-----estilos responsive------*/
@media screen and (min-width:480px) {
    .logo {
        color: white;
    }
    .main-header__contactInfo {
        text-align: right;
    }
    .main-header__contactInfo__phone {
     background: none;   
    }
    .main-header__contacInfo__adress {
        color: white;
    }
    .main-nav {
        background: rgba(0,0,0,0.85)
    }
    .banner {
        margin-top: -190px;
        z-index: -1000;
    }
    .banner__content {
        font-size: 2em;
    }
    .main {
        padding-bottom: 15px;
    }
    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .today-special .column {
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special__img {
        height: 200px;
        object-fit: cover;
    }
    .main-footer .container--flex{
        align-items: flex-start;
    }
    .column--50 {
        width: 49%;
    }
    .column--50-25 {
        width: 49%;
    }
    .column--33 {
        width: 32%;
    }
}

@media screen and (min-width:768px) {
    .main__title {
        font-size: 2.2em;
    }
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2){
    font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
    line-height: 40px;
    }
    .column--50-25 {
        width: 24.5%;
    }
    .column__title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
}
@media screen and (min-width:1024px) {
    .container {
        width: 1000px;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contacInfo__adress
    {
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__img {
        height: 700px;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link {
        padding: 20px;  
    }
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title {
        font-size: 2.3em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 50px;
    }
    .today-special__title {
        font-size: 1.4em;
    }
    .today-special__price {
        font-size: 1.8em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (min-width:1600px) {
    .container {
        width: 1400px;
    }
    .banner__img {
        height: 900px;
    }
    .main__about__description .column:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today-special__img {
        height: 300px;
    }
}
